/*Variables*/
:root {
  --main-bg-color: #555555; 
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-color: var(--main-bg-color);
  font-family: 'Oswald', sans-serif !important;
  position: relative; 
  margin: 0px;
}
p,small {
  font-family: 'Roboto', sans-serif !important;
  color: #F8F8F8 ;
}
a{
  color: cyan;
}
a:hover {
  color: white;
  font-style: bold;
  text-decoration: none;
}
.vertical{
    margin-top:15%;
}
/*resume icon*/
#myresume
{
  font-family: 'Roboto', sans-serif !important;
  font-size:12px;
}
#myresume a
{
    font-size:30px;
}
/*MAIN NAV BAR*/
/*remove border*/
.navbar-toggler, .navbar-toggler,button.navbar-toggler {
  outline: none;
  box-shadow: none;
  border-style: none;
}
.navbar-inner {
  background:transparent;
}
.navbar a:hover{
  color: cyan !important;
  text-decoration: underline
  border-bottom: 2px solid pink;
}
.preview{
  color: white !important;
  list-style-type: none;
}
.preview a:hover{
  color: cyan !important;
  cursor: pointer;
  list-style-type: none;
}/*blog.html*/
.collapse, .in{
  display: inline-block; text-align: left;  
}

/*
.navbar.center .navbar-inner {
    text-align: center;
}

.navbar.center .navbar-inner .nav {
    display:inline-block;
    float: none;
}*/

/*Cool switch text css*/
/* Animations */
@keyframes switch-text {
  0%  {opacity: 0;}
  50% {opacity: 1;}
  75% {opacity: 1;}
  100% {opacity: 0;}
}
#animate.run {
  animation: switch-text 2s 1;
  min-height: 11vmax;
  font-size: 4vmax;
}
.generated {
  color: pink;
  margin: 0;
  padding: 1vh 0 0 0;
  text-align: center;
  font-size: 4vmax;
  min-height: 5vmax;
}
/* Side nav not using anymore
  .sidenav {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #CDCDCD;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: underline;
  font-size: 25px;
  color: grey !important;
  text-decoration-color: pink;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: white;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.rounded-circle {
    border-radius: 10%;
    min-width: 40%;
    min-height: 40%;
    max-width: 60%;
    max-height: 60%
}
*/

/* Footer for ABOUT.HTML*/
.bottom-bar li {
  display: inline-block;
  padding: 0 0.5rem;
  vertical-align: middle;
}
.bottom-bar {
  position: fixed;
  background-color: white;
  right: 0;
  bottom: 0;
  left: 0;
  padding-right: 40px;
  text-align: center;
  opacity: 1;
  /*height: var(--nav-height);*/
  height: 3rem;
}
/*Icon images in the footer, maybe will put icons in other places in future*/
.icon-images {
  width: 25px;
  height: auto;
  transition: transform 0.2s ease-out;
  margin-top: 0.7rem !important;
}
.icon-images:hover {
  transform: scale(1.5);
}
/*sections for about.html, last section should have padding-bottom 5rem*/
  #section0 {padding-top:1rem;color: #fff; background-color: var(--main-bg-color);}
  #section1 {padding-top:1rem;color: #fff; background-color: var(--main-bg-color);}
  #section2 {padding-top:1rem;color: #fff; background-color: var(--main-bg-color);}
  #section3 {padding-top:1rem;color: #fff; background-color: var(--main-bg-color);}
  #section4 {padding-top:1rem;color: #fff; background-color: var(--main-bg-color);}
  #section5 {padding-top:1rem;padding-bottom:5rem;color: #fff; background-color: var(--main-bg-color);}

